@page
@model FypPms.Pages.Account.ForgetPasswordModel
@{
    ViewData["Title"] = "Forget Password";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Forget Password</h2>
        <div>
            <p class="text-success">@Model.SuccessMessage</p>
            <p class="text-danger">@Model.ErrorMessage</p>
        </div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="forgetPasswordData.UserName" class="control-label"></label>
                <input asp-for="forgetPasswordData.UserName" class="form-control" autofocus />
                <span asp-validation-for="forgetPasswordData.UserName" class="text-danger"></span>
            </div>
            <small id="passwordHelpBlock" class="form-text text-muted">
                A new password will be sent to the registered user's email address.
            </small>

            <button class="btn btn-success" type="submit" asp-page-handler="Submit">Submit</button>
            <button class="btn btn-danger" type="submit" asp-page-handler="Cancel">Cancel</button>
        </form>
    </div>
</div>


