@page
@model FypPms.Pages.Coordinator.Profile.EditProfileModel
@{
    ViewData["Title"] = "Edit Profile";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Coordinator.CoordinatorId" />
                <input type="hidden" asp-for="Coordinator.UserId" />
                <div class="form-group">
                    <label asp-for="Coordinator.AssignedId" class="control-label"></label>
                    <input asp-for="Coordinator.AssignedId" class="form-control" readonly />
                    <span asp-validation-for="Coordinator.AssignedId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Coordinator.CoordinatorName" class="control-label"></label>
                    <input asp-for="Coordinator.CoordinatorName" class="form-control" readonly />
                    <span asp-validation-for="Coordinator.CoordinatorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Coordinator.CoordinatorStatus" class="control-label"></label>
                    <input asp-for="Coordinator.CoordinatorStatus" class="form-control" readonly />
                    <span asp-validation-for="Coordinator.CoordinatorStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Coordinator.CoordinatorGender" class="control-label"></label>
                    <input asp-for="Coordinator.CoordinatorGender" class="form-control" />
                    <span asp-validation-for="Coordinator.CoordinatorGender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Coordinator.CoordinatorPhone" class="control-label"></label>
                    <input asp-for="Coordinator.CoordinatorPhone" class="form-control" />
                    <span asp-validation-for="Coordinator.CoordinatorPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Coordinator.CoordinatorEmail" class="control-label"></label>
                    <input asp-for="Coordinator.CoordinatorEmail" class="form-control" />
                    <span asp-validation-for="Coordinator.CoordinatorEmail" class="text-danger"></span>
                </div>
                <div class="form-group" style="display: none;">
                    <label asp-for="Coordinator.DateCreated" class="control-label"></label>
                    <input asp-for="Coordinator.DateCreated" class="form-control" />
                    <span asp-validation-for="Coordinator.DateCreated" class="text-danger"></span>
                </div>
                <div class="form-group" style="display: none;">
                    <label asp-for="Coordinator.DateModified" class="control-label"></label>
                    <input asp-for="Coordinator.DateModified" class="form-control" />
                    <span asp-validation-for="Coordinator.DateModified" class="text-danger"></span>
                </div>
                <div class="form-group" style="display: none;">
                    <label asp-for="Coordinator.DateDeleted" class="control-label"></label>
                    <input asp-for="Coordinator.DateDeleted" class="form-control" />
                    <span asp-validation-for="Coordinator.DateDeleted" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a asp-page="/Coordinator/Management/Index" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>