<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#003d33" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#003d33">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>@ViewData["Title"] - FYP PMS</title>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/Font-Awesome/advanced-options/use-with-node-js/fontawesome-free/js/solid.js"></script>
        <script src="~/lib/Font-Awesome/advanced-options/use-with-node-js/fontawesome-free/js/fontawesome.js"></script>
        <script type="text/javascript" src="~/lib/datatable/advance/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" href="~/lib/datatable/advance/css/dataTables.bootstrap4.css" />
        <script type="text/javascript" src="~/lib/datatable/advance/js/dataTables.bootstrap4.js"></script>
        <script src="~/lib/ckeditor/ckeditor.js"></script>
        <link rel="stylesheet" href="~/css/sidebar.css" />
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous" />
        <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/solid.js" integrity="sha384-Xgf/DMe1667bioB9X1UM5QX+EG6FolMT4K7G+6rqNZBSONbmPh/qZ62nBPfTx+xG" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/fontawesome.js" integrity="sha384-bNOdVeWbABef8Lh4uZ8c3lJXVlHdf8W5hh1OpJ4dGyqIEhMmcnJrosjQ36Kniaqm" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
        <link rel="stylesheet" href="~/css/sidebar.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>FYP Process Management System</h3>
                <strong>FYP</strong>
                <strong>PMS</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a asp-page="/Supervisor/Index">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#project-sub-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-folder-open"></i>
                        Project
                    </a>
                    <ul class="collapse list-unstyled" id="project-sub-menu">
                        <li>
                            <a asp-page="/Supervisor/Project/ReceivedProposal">Received Proposal</a>
                        </li>
                        <li>
                            <a asp-page="/Supervisor/Project/ReceivedRequisition">Received Requisition</a>
                        </li>
                        <li>
                            <a asp-page="/Supervisor/Project/MyProposal">My Proposal</a>
                        </li>
                        <li>
                            <a asp-page="/Supervisor/Project/MyProject">My Project</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#review-sub-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-user-check"></i>
                        Review
                    </a>
                    <ul class="collapse list-unstyled" id="review-sub-menu">
                        <li>
                            <a asp-page="/Supervisor/Review/Index">Review List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#supervision-sub-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-tasks"></i>
                        My Supervision
                    </a>
                    <ul class="collapse list-unstyled" id="supervision-sub-menu">
                        <li>
                            <a asp-page="/Supervisor/Supervision/Index">Supervision List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#moderation-sub-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-paper-plane"></i>
                        My Moderation
                    </a>
                    <ul class="collapse list-unstyled" id="moderation-sub-menu">
                        <li>
                            <a asp-page="/Supervisor/Moderation/Index">Moderation List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-page="/Supervisor/Report/Index">
                        <i class="fas fa-chart-line"></i>
                        Reporting (FYP Committee)
                    </a>
                </li>
                <li>
                    <a asp-page="/Supervisor/Profile/Index">
                        <i class="fas fa-cog"></i>
                        Settings
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-outline-info">
                        <i id="arrow" class="fas fa-align-justify"></i>
                        <span></span>
                    </button>
                    
                    <span class="navbar-brand text-truncate" style="padding-left: 1rem;">
                        @ViewData["Title"]
                    </span>

                    <a class="btn btn-outline-dark ml-auto" asp-page="/Account/Logout">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </div>
            </nav>

            <div class="border-dark">
                @RenderBody()
            </div>
            

        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/popper.js/dist/popper.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                asp-fallback-src="~/lib/popper.js/dist/popper.min.js"
                crossorigin="anonymous"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                //toggleSideBarArrow();
            });
        });

        function toggleSideBarArrow() {
            if ($('#arrow').hasClass("fa-arrow-left")) {
                $("#arrow").attr("class", "fas fa-arrow-right");
            }
            else {
                $("#arrow").attr("class", "fas fa-arrow-left");
            }
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
